<style>body {padding-top: 51px;}</style>
<div class="lil-row">
    <nav class="lil-col 12-12">
        <div class="main-nav lil-row center">
            <ul id="main-menu" class="main-menu lil-col 6-12">

                <li class="menu-item icon">
                    <a id="menu-btn" href="javascript:void(0)" onclick="openMainMenu()">
                        <i data-feather="menu"></i>
                    </a>
                </li>
                <li class="brand menu-item"><a href="/"><img src="/img/logo.png" alt="" title="Return to homepage"></a></li>
                <li class="menu-item active"><a href="/dashboard">My racers</a></li>
                <li class="menu-item"><a href="/dashboard/account">My account</a></li>
                <li class="menu-item"><a href="/dashboard/support">Support</a></li>

                <li class="menu-item right"><a href="/logout"><i data-feather="log-out"></i>Logout</a></li>
            </ul>
        </div>
        <script src="/js/topnav.js"></script>
    </nav>
</div>