<div class="header-hero lil-row center moving-bg">
    <div class="lil-col 3-12">
        <div class="header-hero-text">
            <h2>Welcome to</h2>
            <h1>> Local Mini-Racers<span class="writing-bar">|</span></h1>
            <h3>An online platform to control "RC" (Raspberry Controlled) cars from your browser.</h3>
            <h3 style="margin-top: 25px">Powered by Node.js & Raspberry.</h3>
        </div>
    </div>
    <div class="lil-col 1-12"></div>
    <div class="lil-col 2-12">
        <% include ../includes/signin_card %>
    </div>
    <!--<img class="header-logo" src="/img/logo.svg" alt="">-->
</div>