<div class="card">
        <h3 class="card-title"><i data-feather="user"></i> Log in:</h3>
        <form action="" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="userpass" placeholder="Password">
            <button type="submit">Go !</button>
            <small>Don't have an account? <a href="/signup">Sign Up</a></small>
        </form>
    </div>