<div class="card">
    <h3 class="card-title">Sign Up:</h3>
    <form action="" method="POST">
        <input type="email" name="usermail" placeholder="Email address">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="userpass" placeholder="Password">
        <button type="submit">Start the race !</button>
        <small>Already have an account? <a href="/signup">Log in</a></small>
    </form>
</div>