<div class="card">
    <h3 class="card-title"><i data-feather="user-plus"></i> Sign Up:</h3>
    <form id="signup" name="signup" method="post" action="/signup">
        <input type="email" name="usermail" placeholder="Email address">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="userpass" placeholder="Password">
        <button type="submit">Start the race !</button>
        <small>Already have an account? <a href="/login">Log in</a></small>
    </form>
</div>