<% include ../includes/header %>
<header>
    <% include ../includes/dashboardnav %>
</header>
<main>
    <div class="moving-bg dashboard-top"></div>
    <div class="lil-row center between">
        <div class="lil-col 2-12"></div>
        <aside class="lil-col 2-12 dashboard-aside">
            
        </aside>
        <div class="lil-col 6-12 dashboard-main">
            <section class="dashboard-section">
            </section>
        </div>
        <div class="lil-col 2-12"></div>
    </div>

</main>
<% include ../includes/footer %>