<% include ../includes/header %>
<div class="moving-bg">
    <div class="return-link"><h3><a href="/">Return to home</a></h3></div>
    <div class="lil-row middle center" style="height:100vh">
        <div class="lil-col 3-12">
            <% include ../includes/signup_card %>
        </div>
    </div>
</div>